<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Music Streaming App</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="sidebar">
        <!-- <h2>Your Playlists</h2>
        <ul id="playlists">
            <% user.playlists.forEach(playlist=> { %>
                <li>
                    <%= playlist.name %>
                </li>
                <% }); %>
        </ul>
        <button onclick="createPlaylist()">Create Playlist</button> -->
        <!-- <h2>Your Playlists</h2>
        <div id="playlists">
            <% user.playlists.forEach(playlist=> { %>
                <div class="playlist" data-id="<%= playlist._id %>">
                    <%= playlist.name %>
                </div>
                <% }); %>
        </div>
        <form id="createPlaylistForm">
            <input type="text" id="newPlaylistName" placeholder="New Playlist Name" required>
            <button type="submit">Create Playlist</button>
        </form> -->
        <div class="playlist-Button" onclick="togglePlaylist()">
            <img src="/images/playlists-thumbnail.jpg" alt="liked-songs">
            <h2>Your Playlists
                <button id="toggle-playlists">▼</button>
            </h2>
        </div>
        <div id="playlists" class="hidden">
            <% user.playlists.forEach(playlist=> { %>
                <div class="playlist" data-id="<%= playlist._id %>">
                    <%= playlist.name %>
                </div>
                <% }); %>
        </div>
        <form id="createPlaylistForm" class="hidden">
            <input type="text" id="newPlaylistName" placeholder="New Playlist Name" required>
            <button type="submit">Create Playlist</button>
        </form>
        <div class="likedSongs-Button">
            <img src="/images/liked-songs.jpg" alt="liked-songs">
            <h2>Liked Songs</h2>
        </div>
        <div class="notificationsButton" onclick="toggleNotifications()">
            <h2>Notifications ▼</h2>
        </div>
        <div id="notifications" class="hidden">
            <% receivedRequests.forEach(request=> { %>
                <div class="requests" data-id="<%= request._id %>">
                    <h3>
                        <%= request.requester.username %>
                    </h3>
                    <img class="accept" src="/images/accept.png" alt="Accept"
                        onclick="acceptFriendRequest('<%= request._id %>',true)">
                    <img class="decline" src="/images/reject.png" alt="Reject"
                        onclick="declineFriendRequest('<%= request._id %>',true)">
                </div>
                <% }); %>
        </div>
        <!-- <div class="profileButton" onclick="showProfile()">
            <img src="/images/profile.jpg" alt="Profile">
            <h2>Profile</h2>
        </div> -->
        <div class="partymodeButton" onclick="showFriendsToInvite('<% users %>','<% user %>')">
            <img src="/images/partymode.jpg" alt="Partymode">
            <h2>Party Mode</h2>
        </div>

        <div id="friendInviteModal" class="hidden">
            <h2>Invite Friends</h2>
            <div id="friendsList"></div>
            <button onclick="closeInviteModal()">Close</button>
        </div>

        <div id="playlistSelectModal" class="hidden">
            <h2>Select a Playlist</h2>
            <div id="playlistsList"></div>
            <button onclick="closePlaylistModal()">Close</button>
        </div>
    </div>
    <div id="main-content">
        <h1>DTunes</h1>
        <form id="homepageForm" action="/homepage" method="POST">
            <label for="genre">Choose a genre:</label>
            <select name="genre" id="genre">
                <option value="">All</option>
                <option value="pop">Pop</option>
                <option value="rock">Rock</option>
                <option value="jazz">Jazz</option>
                <option value="classical">Classical</option>
                <option value="electronic">Electronic</option>
                <option value="hiphop">Hip-Hop</option>
                <option value="indie">Indie</option>
            </select>
            <label for="search">Search:</label>
            <input type="text" id="search" name="search" placeholder="Search for tracks">
            <input type="hidden" id="searchType" name="searchType" value="tracks">
            <i class="fa-solid fa-toggle-off" id="toggleSearch" style="cursor: pointer;"></i>
            <button type="submit">Search</button>
        </form>
        <% if (tracks) { %>
            <%if(tracks.length>0){%>
                <div id="tracks">
                    <% tracks.forEach(track=> { %>
                        <div class="track" data-id="<%= track.jamendoId %>" data-audio="<%= track.audio %>"
                            onclick="playTrack('<%= track.audio %>', '<%= track.name %>', '<%= track.artist_name %>')">
                            <img src="<%= track.image %>" alt="Album Art">
                            <div class="track-info">
                                <h2>
                                    <%= track.name %>
                                </h2>
                                <p>Artist: <%= track.artist_name %>
                                </p>
                                <button onclick="likeSong('<%= track.jamendoId %>')">Like</button>
                                <button onclick="dislikeSong('<%= track.jamendoId %>')">Dislike</button>
                                <button onclick="showPlaylistOptions('<%= track.jamendoId %>')">Add to Playlist</button>
                            </div>
                            <div id="playlist-options-<%= track.jamendoId %>" class="playlist-options"
                                style="display: none;">
                                <select id="playlist-select-<%= track.jamendoId %>">
                                    <% user.playlists.forEach(playlist=> { %>
                                        <option value="<%= playlist._id %>">
                                            <%= playlist.name %>
                                        </option>
                                        <% }); %>
                                </select>
                                <button onclick="addToPlaylist('<%= track.jamendoId %>')">Add</button>
                            </div>
                        </div>
                        <% }); %>
                </div>
                <% } else { %>
                    <h2>No tracks found.</h2>
                    <% } %>
                        <% } else if (users && users.length> 0) { %>
                            <% users.forEach(people=> { %>
                                <% if (user.username !=people.username){ %>
                                    <div class="track" data-id="<%= people._id %>">
                                        <p>
                                            <%= people.username %>
                                        </p>
                                        <% const matchingReceivedRequest=receivedRequests.find(request=>
                                            request.requester._id.toString() === people._id.toString()); %>
                                            <% const matchingPendingRequest=pendingRequests.find(request=>
                                                request.receiver._id.toString() === people._id.toString()); %>

                                                <% if (user.friends.includes(people.username)) { %>
                                                    <button class="friend-button" data-status="friend" disabled>Is a
                                                        friend</button>
                                                    <% } else if (matchingReceivedRequest) { %>
                                                        <button class="friend-button" data-status="received"
                                                            onclick="acceptFriendRequest('<%= matchingReceivedRequest._id %>')">Accept</button>
                                                        <button class="friend-button" data-status="received"
                                                            onclick="declineFriendRequest('<%= matchingReceivedRequest._id %>')">Decline</button>
                                                        <% } else if (matchingPendingRequest) { %>
                                                            <button class="friend-button" data-status="pending"
                                                                disabled>Request Sent</button>
                                                            <% } else { %>
                                                                <button class="friend-button" data-status="none"
                                                                    onclick="sendFriendRequest('<%= people._id %>')">Send
                                                                    Request</button>
                                                                <% } %>
                                    </div>

                                    <% } %>
                                        <% }) %>

                                            <% } %>
    </div>
    <div id="audio-player">
        <div id="now-playing">
            <p id="now-playing-track">Track: </p>
            <p id="now-playing-artist">Artist: </p>
        </div>
        <audio id="audio" controls>
            Your browser does not support the audio element.
        </audio>
    </div>
    <script src="/js/scripts.js"></script>
</body>

</html>